$colors: (
 "primary": #000000,
 "secondary":#ffffff,
 "third": #dfdfdf,
 "forth": rgba(47, 54, 64, 0.39),
);

img {
  width: 100%;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
}

h1 {
  text-align: center;
}


p {
  padding: 10px;
}

a {
  text-decoration: none!important;
  font-weight: 600;
}



.login-h1 {
  color: white;
}


.login {
  background-color: map-get($colors, primary);
  text-align: center;
  border-radius: 10px;
  border: none;
}

.button-login {
  border-radius: 10px;
  border: none;
}


.button-login:hover {
  box-shadow: 0 -2px 16px rgb(255, 255, 255);
  background-color: map-get($colors, primary);
  color: white;
}


#emailError {
  display: none;
  color: map-get($colors, third);
}

#passwordError {
  display: none;
  color: map-get($colors, third);
}

.name {
  color: white;
}

.logo {
max-height: 90px;
max-width: 90px;
background-color: black;
}

.profile-picture {
  border-radius: 100%;
  max-width: 200px;
  display: block;
  border: solid 7px white;
}

.background-image {
  min-height: 450px;
  background-image: url(/img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.nickname {
  color: white;
  font-size: 20px;
}

.follow-button {
  background-color: Green;
  color: white;
  max-width: 300px;
  border-radius: 20px;
}

.follow-button:hover {
  background-color: white;
}

.post {
  margin: 40px auto 40px auto;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
  border-radius: 20px;
  max-width: 600px!important;
}

.follower-image {
  max-width: 400px;
  border-radius: 100%;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
}

.search {
  text-align: center;
  border-radius: 10px;
  border: none;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
}

.profile-picture-bottom {
  max-width: 600px;
  border-radius: 20px;
}

select {
  max-width: 200px!important;
  margin: auto!important;
}

textarea {
  width: 100%;
  min-height: 400px;
  max-width: 600px;

}

footer {
  text-align: center;
  background-color: map-get($colors, forth);
}