$colors: (
 "primary": #000000,
 "secondary":#ffffff,
 "third": #ffffff,
);

img {
  width: 100%;
}

h1 {
  text-align: center;
}

.login {
  margin: auto;
  background-color: map-get($colors, third);
  text-align: center;
  border-radius: 10px;
  border: solid 2px black;
}

input {
  border-radius: 10px;
}

.button-send {
  border-radius: 10px;
}


#emailError {
  display: none;
}

#passwordError {
  display: none;
}

.background-image {
  min-height: 400px;
  background-color: red;
}